/* React Resizable Styles */
.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

.react-resizable-handle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.react-resizable-handle::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #d9d9d9;
  left: 50%;
  transform: translateX(-50%);
}

.react-resizable-handle:hover::after {
  background-color: #1890ff;
  width: 2px;
}
